<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head>
<body>
    <header class="header-home">
        <a href="/"><span class="title-header">Agenda Online</span></a>
    </header>
    <main class="main-erro404">
        <h1>ERROR 404!</h1>
        <span>A pagina desejada está indisponivel!</span>
    </main>
    <script src="assets/js/bundle.js"></script>
</body>
</html>