.main-contato {
    background-color: white;
    flex-direction: column;
    border-radius: .5em;
    box-shadow: .3em .3em 1em rgba(0, 0, 0, 0.432);
    width: 720px;
    height: 550px;
    margin: auto;
    margin-top: 10%;
    

}

.main-contato > h2 {
    font-size: 1.2em;
    text-align: center;
    align-items: center;
    padding: 1em;
} 

.contato-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formsContato{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 325px;
    margin: 1em;
}

.btnSalvarContato{
    width: 350px;
    height: 30px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: .5em;
    margin: .6em;
}
.btnSalvarContato:hover{
    transition: .1s;
    transform: scale(1.05);
    cursor: pointer;
    background-color: #FF5F5D;
    box-shadow: .3em .3em 1em rgba(0, 0, 0, 0.473);
}