.main-erro404 {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    box-shadow: .3em .3em 1em rgba(0, 0, 0, 0.432);
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 500px;
    margin: auto;
    margin-top: 10%;
}

.main-erro404 > h1 {
    font-size: 4em;
    color: rgb(247, 86, 86);
}